<!DOCTYPE html>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wassup</title>
        <link rel="stylesheet" href="styles/style.css">
    </head>
    <body>
{% comment %} Короче тут я сделал схематично экран, который будут видеть незарегестрированные пользователи при входе на сайт {% endcomment %}
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 80vh;">
        <h1 style="font-size: 3rem; margin-bottom: 2rem;">Welcome</h1>
        
        <div style="display: flex; gap: 1rem;">
            <button style="padding: 10px 20px; font-size: 1rem;">Registration</button>
            <button style="padding: 10px 20px; font-size: 1rem;">Login</button>
        </div>
    </div>
    </body>
    </html>